/*.room-background {
    background: url(https://cdn.radiant.dj/rcs/radiant.music.nov1.jpg) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}*/
#user-lists .list.staff .group {
    background: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 1) 100%) !important;
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}
#app-header {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#store-button {
    background: linear-gradient(to bottom,#FF0000 0,#A00000 100%);
}
#plug-dj {
    background: linear-gradient(to bottom,#0268AC 0,#02225C 100%);
}
.header-panel-button.selected {
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.25) 0,rgba(255, 255, 255, 0.06) 100%);
}
#plug-menu {
    background: rgba(40, 44, 53, 0.94) !important;
}
#plug-menu .legal {
    background: rgba(68, 74, 89, 0.46) !important;
}
#settings {
    background: rgba(10, 10, 10, 0.89) !important;
}
#user-lists .list .user:hover {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.27) 100%) !important;
}
#waitlist .list .user {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.13) 100%) !important;
}
.app-right .friends {
    background: none !important;
}
#settings .header {
    background: rgba(28, 31, 37, 0.78) !important;
}
@media (max-width: 1600px) {
    #room .app-right {
        background: linear-gradient(to right,rgba(0, 0, 0, 0.70) 0,rgba(0, 0, 0, 1) 100%);
    }
}
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17, 19, 23, 0.32);
    -webkit-animation:fadein 0.25s;
    -moz-animation:fadein 0.25s;
    -ms-animation:fadein 0.25s;
    -o-animation:fadein 0.25s;
    animation:fadein 0.25s;
}
#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
    -webkit-animation:fadein 0.25s;
    -moz-animation:fadein 0.25s;
    -ms-animation:fadein 0.25s;
    -o-animation:fadein 0.25s;
    animation:fadein 0.25s;
}
#chat .mention {
    font-weight: 700;
    /*padding-left: 25px;*/
    border-left: #7681FF 3px solid;
}
#chat .emote .from {
     color: #ac76ff !important;
}
#chat .emote {
    border-left: rgba(174, 69, 189, 1) 3px solid !important;
    background-color: rgba(76, 93, 119, 0.22) !important;
}
#chat-messages .emote .icon {
    /*left: 4px;*/
}
#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: #ac76ff;
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
#playlist-button {
    background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%);
}
.social-menu .icon-twitter,.social-menu .icon-facebook {
    opacity: 1;
}
#playlist-panel {
    background: rgba(17, 19, 23, 0.9);
}
#playlist-menu {
    background: rgba(28, 31, 37, 0.67);
}
#search {
    background: rgba(50, 55, 66, 0.58);
}
#search-bar {
    background: rgba(17, 19, 23, 0.77);
}
#filter-bar {
    background: rgba(17, 19, 23, 0.77);
}
#playlist-edit-button {
    background: rgba(85, 93, 112, 0.75);
}
#playlist-shuffle-button {
    background: rgba(68, 74, 89, 0.75);
}
#playlist-delete-button {
    background: rgba(50, 55, 66, 0.75);
}
#user-panel .score {
    background: rgba(28, 31, 37, 0.59);
}
#dj-button.is-locked .left,#dj-button.is-full .left,#vote .crowd-response.disabled .bottom {
    background: #222224;
}
#dj-button.is-quit .left, #dj-button.is-leave .left, #dj-button.is-wait .left, #dj-button.is-locked .left, #dj-button.is-full .left {
background: #121214;
border-radius: 8px;
/*border-left-width: 4px;*/
}
/*#dj-button.is-quit .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-leave .left {
border-left: 3px solid #f46b40;
}
#dj-button.is-wait .left {
border-left: 3px solid #00b5e6;
}
#dj-button.is-locked .left {
border-left: 3px solid #734ba9;
}
#dj-button.is-full .left {
border-left: 3px solid #CCCCCC;
}*/
#dj-button {
background: #222224;
border-radius: 8px;
}
#vote .crowd-response {
background: #222224;
}
#woot .bottom, #woot.selected {
background: #90ad2f;
}
#grab .bottom, #grab.selected {
background: #aa74ff;
}
#meh .bottom, #meh.selected {
background: #c42e3b;
}
.row:hover {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(41, 48, 124, 0.27) 100%) !important;
}
#chat .mention .msg {
    background: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(41, 48, 124, 0.27) 100%);
}
#user-lists .list.room .user .icon-meh {
    top: -1px !important;
    right: 8px !important;
    left: auto !important;
}

#user-lists .list.room .user .icon-grab {
    right: 35px;
}
/* Chat Fade */

#chat .emote, #chat .mention, #chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
  -webkit-animation: fadein 0.35s;
  -moz-animation: fadein 0.35s;
  -ms-animation: fadein 0.35s;
  -o-animation: fadein 0.35s;
  animation: fadein 0.35s;
}

@keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

@-moz-keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

@-webkit-keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

@-ms-keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

@-o-keyframes fadein {
  from {opacity: 0;};
  to {opacity: 1;};
}

#user-lists .list {
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

#waitlist .list {
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

/*LillyBot*/
#user-lists .list .user.id-11070630 .name:after,
.fromID-11070630 .from .un.clickable:after,
.cid-11070630 .from .un.clickable:after,
.id-11070630 .from .un.clickable:after,
#user-lists .list .user.id-4567866 .name:after,
.fromID-11070630 .from .un.clickable:after,
.cid-11070630 .from .un.clickable:after,
.id-11070630 .from .un.clickable:after {
    content: url("https://dl.dropboxusercontent.com/s/oucorp8ejssq3sa/Botgrey.png");
    top: 3px;
    Left: 3px;
    position: relative;
}

#user-rollover.id-11070630 .meta .username:after,
#user-lists .list .user.id-11070630:hover .name:after,
.msg.cid-11070630 .from .un.clickable:hover:after,
.fromID-11070630 .from .un.clickable:hover:after,
.id-4567866 .from .un.clickable:hover:after,
#user-rollover.id-11070630 .meta .username:after,
#user-lists .list .user.id-11070630:hover .name:after,
.msg.cid-11070630 .from .un.clickable:hover:after,
.fromID-11070630 .from .un.clickable:hover:after,
.id-11070630 .from .un.clickable:hover:after{
    content: url("https://dl.dropboxusercontent.com/s/6n8jncgoufypt60/Bot.png") !important;
    top: 3px;
    Left: 3px;
    position: relative;
    transition: .2s linear;
}
.fromID-11070630 .from .icon,
.msg.cid-11070630 .from .icon,
.id-11070630 .from .icon,
.fromID-11070630 .from .icon,
.msg.cid-11070630 .from .icon,
.id-11070630 .from .icon {
    top: 3px !important;
}

/*smoothing chat*/
#user-lists .list .user,
#chat-messages .message,
#chat-messages .cm{
        -webkit-transition:     all 0.3s ease;
        -moz-transition:        all 0.3s ease;
        -o-transition:          all 0.3s ease;
        transition:             all 0.3s ease;
}
#chat-messages .cm.rsshit.rs-log-green:hover, #chat-messages .cm.rsshit.rs-log-user-friend-join:hover, #chat-messages .cm.rsshit.rs-log-user-woot:hover {
    background-color: rgba(144, 173, 47, 0.1);
}
#chat-messages .cm.rsshit.rs-log-purple:hover, #chat-messages .cm.rsshit.rs-log-user-grab:hover, #chat-messages .cm.rsshit.rs-log-user-staff-join:hover ,#chat-messages .cm.rsshit.rs-log-song-stats:hover {
    background-color: rgba(172, 118, 255, 0.1); 
}
#chat-messages .cm.rsshit.rs-log-red:hover, #chat-messages .cm.rsshit.rs-log-user-level1-join:hover, #chat-messages .cm.rsshit.rs-log-user-meh:hover {
    background-color: rgba(196, 46, 59, 0.1);   
}
#chat-messages .cm.rsshit.rs-log-orange:hover, #chat-messages .cm.rsshit.rs-log-user-leave:hover, #chat-messages .cm.rsshit.rs-log-history:hover {
    background-color: rgba(244, 107, 64, 0.1);
}
#chat-messages .cm.rsshit.rs-log-usrinfo:hover, #chat-messages .cm.rsshit.rs-log-aqua:hover, #chat-messages .cm.rsshit.rs-log-booth-alert:hover, #chat-messages .cm.rsshit.rs-log-user-join:hover {
    background-color: rgba(0, 156, 221, 0.1);
}
#chat-messages .cm.rsshit.rs-log-earn:hover {
    background-color: rgba(255, 221, 111, 0.1); 
}
#chat-messages .cm.rsshit.rs-log-now-playing:hover {
    background-color: rgba(87, 132, 197, 0.1);  
}
#chat-messages .cm.rsshit.rs-log-yellow:hover{
    background-color: rgba(246, 255, 116, 0.1);
}
#chat-messages .cm.rsshit.rs-log-earn-gold:hover {
    background-color: rgba(197, 152, 64, 0.1);
}
/*hover chat*/
#chat-messages .cm:not(.log):hover {
    transform: translate(5px, -5px);
    background-color: linear-gradient(to right,rgba(255, 118, 118, 0) 0,rgba(255, 0, 194, 0.27) 100%) !important;
}
#chat {
    background-color: rgba(40, 44, 53, 0);
}
#room .app-right {
    background-color: rgba(0, 0, 0, 0.7);
    
}
/*NextExit alt Chat Color*/
#chat .cm[data-cid^="14144590-"] .from .un {
color: #42A5DC;
    
}
/*User Menu*/
}
#user-menu, #room-settings-menu, #playlist-menu {
    background: linear-gradient(to right, hsla(210,10%,40%,0), hsla(311, 10%, 50%, 0.2));
}
#user-view, #dashboard, #room-settings, #media-panel, #playlist-panel, #history-panel {
    background: linear-gradient(hsla(293, 10%, 7%, 0.9), hsla(284, 10%, 5%, 0.9)) !important;
}
#user-menu .item:not(.selected), #room-settings-menu .item:not(.selected) {
    color: hsla(275, 10%, 60%, 1);
}
#user-menu .item:not(.selected):hover, #room-settings-menu .item:not(.selected):hover {
    color: hsla(313, 10%, 80%, 1);
}
#user-menu .item .count, #room-settings-menu .item .count {
    color: #eee; /* Fix for hover color changing count color by inheritance */
}
#user-menu .item:hover, #room-settings-menu .item:hover {
    background: linear-gradient(hsla(271, 36%, 40%, 0.46), hsla(285, 31%, 30%, 0.49));
    box-shadow: inset 0 0 4px 1px hsla(0,0%,100%,.2);
}
#user-menu .item:hover i, #room-settings-menu .item:hover i {
    filter: brightness(200%);
}
#user-menu .item.selected, #room-settings-menu .item.selected {
    background: linear-gradient(hsl(270, 33%, 30%), hsl(270, 35%, 30%));
    box-shadow: inset 0 0 4px 1px hsla(277, 100%, 66%, 0.4);
}
#room-settings .general-settings button, #room-settings .general-settings .option.enabled button.off {
    background: linear-gradient(hsla(305, 5%, 20%, 1), hsla(290, 5%, 10%, 1)) !important;
    box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}
#room-settings .general-settings button:hover, #room-settings .general-settings .option.enabled button.off:hover {
    background: linear-gradient(hsla(269, 50%, 40%, 0.61), hsla(270, 50%, 30%, 0.52)) !important;
    box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}
#room-settings .general-settings button.off, #room-settings .general-settings .option.enabled button.on {
    background: linear-gradient(hsla(270, 33%, 30%), hsla(270, 35%, 30%)) !important;
    box-shadow: inset 0 0 2px hsla(0,0%,100%,.5) !important;
}
#the-user-profile .notifications.section .row {
    border-radius: 10px;
    background: linear-gradient(hsl(262, 16%, 20%), hsl(256, 20%, 14%));
}
#the-user-profile .notifications .row .timestamp {
    color: rgba(17, 19, 23, 0.32);;
